# Node.js dependencies
node_modules/

# Environment variables
.env

# Vercel configuration
.vercel/

# Logs
logs/
*.log
npm-debug.log*
pnpm-debug.log*
yarn-debug.log*
yarn-error.log*

# OS-specific files
.DS_Store
Thumbs.db

# IDE-specific files
.vscode/
.idea/
*.swp

# Build output
dist/
build/
.vercel
