/* General Styles */
body {
  font-family: "Helvetica Neue", Arial, sans-serif;
  background: linear-gradient(
    135deg,
    #000000,
    #333333
  ); /* Gradient background */
  color: #e0e0e0;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.container {
  background-color: #1e1e1e;
  padding: 30px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(255, 255, 255, 0.1),
    0 0 15px rgba(255, 255, 255, 0.2);
  max-width: 700px;
  width: calc(100% - 40px); /* Ensure some space on the sides */
  box-sizing: border-box;
  text-align: center;
  margin: 20px; /* Add margin to detach shadow from sides */
  animation: glow 2s infinite alternate;
}

@keyframes glow {
  0% {
    box-shadow: 0 4px 8px rgba(255, 255, 255, 0.1),
      0 0 15px rgba(255, 255, 255, 0.2);
  }
  100% {
    box-shadow: 0 4px 15px rgba(255, 255, 255, 0.3),
      0 0 20px rgba(255, 255, 255, 0.4);
  }
}

h1 {
  color: #ffffff;
  margin-bottom: 20px;
  position: relative;
}

h1::after {
  content: "";
  position: absolute;
  left: 50%;
  bottom: -10px;
  width: 200px;
  height: 5px;
  background: linear-gradient(90deg, #ff9800, #e68900, #ff9800);
  border-radius: 50%;
  transform: translateX(-50%);
  animation: underlineGlow 3s infinite alternate;
}

@keyframes underlineGlow {
  0% {
    background: linear-gradient(90deg, #ff9800, #e68900, #ff9800);
  }
  50% {
    background: linear-gradient(90deg, #e68900, #ff9800, #e68900);
  }
  100% {
    background: linear-gradient(90deg, #ff9800, #e68900, #ff9800);
  }
}

#currentDate {
  font-weight: bold;
  margin: 15px 0;
  font-size: 18px;
  color: #bbbbbb;
}

input[type="text"],
input[type="password"] {
  width: calc(100% - 22px);
  padding: 12px;
  margin: 10px 0;
  border: 1px solid #444444;
  background-color: #2e2e2e;
  color: #e0e0e0;
  border-radius: 5px;
  box-sizing: border-box;
  font-size: 16px;
}

button {
  width: calc(100% - 22px); /* Slightly smaller than input */
  padding: 10px; /* Slightly smaller padding */
  background-color: #ff9800; /* Orange variant */
  color: white;
  font-weight: bold;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 18px; /* Increased font size */
  margin-top: 10px;
  position: relative;
  overflow: hidden;
}

button:hover {
  background-color: #b7740e; /* Darker orange on hover */
}

button::before {
  content: "";
  position: absolute;
  top: 0;
  left: -100%; /* Start completely off the button */
  width: 50%;
  height: 100%;
  background: rgba(255, 255, 255, 0.3);
  transform: skewX(-25deg);
}

button::before {
  animation: shine 1.5s infinite;
}

@keyframes shine {
  0% {
    left: -100%; /* Start completely off the button */
  }
  50% {
    left: 100%; /* Move completely off the button */
  }
  100% {
    left: 110%; /* Ensure it stays off the button */
  }
}

/* Queue Table Styles */
table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
  border-radius: 10px;
  overflow: hidden;
}

table,
th,
td {
  border: 1px solid #444444;
}

th,
td {
  padding: 12px;
  text-align: left;
}

th {
  background-color: #333333;
  color: #ffffff;
}

td {
  background-color: #2e2e2e;
  color: #e0e0e0;
}

#emptyQueueMessage {
  margin-top: 20px;
  font-size: 18px;
  color: silver;
  border-top: 2px solid #e0e0e0;
  padding-top: 20px;
}

h2 {
  color: #bbbbbb;
  font-size: 20px;
  text-shadow: 0 0 5px rgba(255, 255, 255, 0.2);
}

#title-tag {
  color: #ff9800;
  font-family: "Kablammo", system-ui;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-variation-settings: "MORF" 0;
  font-size: 25px;
}
h2#currentDate {
  color: #bbbbbb;
  font-size: 18px;
  text-shadow: none;
}

/* Responsive Styles */
@media (max-width: 600px) {
  .container {
    padding: 20px;
    margin: 10px; /* Ensure some space on the sides */
  }

  input[type="text"],
  input[type="password"] {
    width: calc(100% - 12px);
  }

  button {
    width: calc(100% - 22px); /* Slightly smaller than input */
    font-size: 16px; /* Adjusted font size for smaller screens */
  }

  th,
  td {
    padding: 10px;
  }
}

@media (max-width: 360px) {
  .container {
    padding: 20px;
    margin: 2px; /* Minimize margin to indicate it's a card */
  }

  input[type="text"],
  input[type="password"] {
    width: calc(100% - 12px);
  }

  button {
    width: calc(100% - 22px); /* Slightly smaller than input */
    font-size: 16px; /* Adjusted font size for smaller screens */
  }

  th,
  td {
    padding: 10px;
  }
}

.hidden {
  display: none;
}
